<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="container mt-5 mb-5">
    <h2>Create New Course</h2>
    <!-- Course Title -->
    <div class="mb-3">
        <label for="title" class="form-label">Course Title</label>
        <input id="title" formControlName="title" type="text" class="form-control" placeholder="Enter course title" />
    </div>

    <!-- Course Description -->
    <div class="mb-3">
        <label for="description" class="form-label">Course Description</label>
        <textarea id="description" formControlName="description" rows="4" class="form-control"
            placeholder="Enter course description"></textarea>
    </div>

    <!-- Course Description -->
    <div class="mb-3">
        <label for="price" class="form-label">Course Price</label>
        <input id="price" type="nnumber" class="form-control" placeholder="Enter course price" />

    </div>

    <!-- Course Image -->
    <div class="mb-3">
        <label for="courseImage" class="form-label">Course Image</label>
        <input id="courseImage" type="file" class="form-control" (change)="onImageSelected($event)"
            accept="image/jpeg, image/png" />
        <div *ngIf="selectedImageName" class="mt-2">
            <span class="badge bg-primary">Selected Image: {{ selectedImageName }}</span>
        </div>
    </div>

    <!-- Sections -->
    <div formArrayName="sections" class="mb-3">
        <div *ngFor="let section of sections.controls; let i = index" [formGroupName]="i" class="card mb-4">
            <div class="card-body">
                <h4 class="card-title mb-3">Section {{ i + 1 }}</h4>

                <!-- Section Title -->
                <div class="mb-3">
                    <label for="sectionTitle" class="form-label">Section Title</label>
                    <input id="sectionTitle" formControlName="title" type="text" class="form-control"
                        placeholder="Enter section title" />
                </div>

                <!-- Lectures -->
                <div formArrayName="lectures" class="mt-4">
                    <div *ngFor="let lecture of getLectures(i).controls; let j = index" [formGroupName]="j"
                        class="border rounded p-3 mb-3">
                        <h5 class="mb-3">Lecture {{ j + 1 }}</h5>

                        <!-- Lecture Title -->
                        <div class="mb-3">
                            <label for="lectureTitle" class="form-label">Lecture Title</label>
                            <input id="lectureTitle" formControlName="title" type="text" class="form-control"
                                placeholder="Enter lecture title" />
                        </div>

                        <!-- Lecture Video -->
                        <div class="mb-3">
                            <label for="lectureVideo" class="form-label">Lecture Video</label>
                            <input id="lectureVideo" type="file" class="form-control" accept="video/mp4"
                                (change)="onFileSelected($event, 'lecture', i, j)" />
                        </div>

                        <!-- Subtitles -->
                        <div formArrayName="subtitles" class="mt-3">
                            <div *ngFor="let subtitle of getSubtitles(i, j).controls; let k = index" [formGroupName]="k"
                                class="mb-3">
                                <h6>Subtitle {{ k + 1 }}</h6>

                                <div class="mb-2">
                                    <label for="subtitleLanguage" class="form-label">Language</label>
                                    <input id="subtitleLanguage" formControlName="language" type="text"
                                        class="form-control" placeholder="Enter subtitle language" />
                                </div>

                                <div class="mb-2">
                                    <label for="subtitleUrl" class="form-label">Subtitle File</label>
                                    <input id="subtitleUrl" type="file" class="form-control" accept="text/vtt"
                                        (change)="onFileSelected($event, 'subtitle', i, j,k)" />
                                </div>

                                <button type="button" class="btn btn-danger" (click)="removeSubtitle(i, j, k)">Remove
                                    Subtitle</button>
                            </div>
                            <button type="button" class="btn btn-secondary mt-2 mb-2" (click)="addSubtitle(i, j)">Add
                                Subtitle</button>
                        </div>



                        <button type="button" class="btn btn-danger" (click)="removeLecture(i, j)">
                            Remove Lecture
                        </button>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="addLecture(i)">
                        Add Lecture
                    </button>
                </div>

                <button type="button" class="btn btn-danger mt-3" (click)="removeSection(i)">
                    Remove Section
                </button>
            </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addSection()">
            Add Section
        </button>
    </div>

    <button type="submit" class="btn btn-success mb-5" [disabled]="isUploading">
        Create Course
    </button>
</form>